
<h1>Hello GDG Cloud London</h1>

<form [formGroup]="addForm" (submit)="addName()">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">

    <button mat-button type="submit" [disabled]="addForm.invalid">Add</button>
</form>

<form [formGroup]="searchForm">

    <label for="search">Search</label>
    <input id="search" type="text" formControlName="search">
</form>

<mat-list>
  <mat-list-item *ngFor="let item of filteredData">{{ item }}</mat-list-item>
</mat-list>
